body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #999;
  line-height: 26px;
  font-weight: 400;
}
.type-3023 .categories-area {
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 80px;
  position: relative;
  z-index: 1;
  background-image: url(../categories-bg.jpg);
}
.type-3023 .categories-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(21,37,69,0.8);
  z-index: -1;
}
.type-3023 article,
.type-3023 aside,
.type-3023 details,
.type-3023 figcaption,
.type-3023 figure,
.type-3023 footer,
.type-3023 header,
.type-3023 hgroup,
.type-3023 main,
.type-3023 menu,
.type-3023 nav,
.type-3023 section,
.type-3023 summary {
  display: block;
}
.type-3023 * {
  box-sizing: border-box;
}
.type-3023 .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.type-3023 .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.type-3023 section {
  display: block;
  unicode-bidi: isolate;
}
.type-3023 .row {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 992px) {
  .type-3023 .container {
    width: 1200px;
  }
  .type-3023 .col-md-4 {
    width: 33.33333333%;
    float: left;
  }
}
.type-3023 .sec-title {
  margin-top: -2px;
  padding-bottom: 50px;
  position: relative;
}
.type-3023 .sec-title h1 {
  color: #fff;
  font-size: 34px;
  font-weight: 700;
  line-height: 30px;
  text-transform: capitalize;
  margin: 0;
}
.type-3023 .sec-title.text-center {
  text-align: center;
}
.type-3023 .col-lg-1,
.type-3023 .col-lg-10,
.type-3023 .col-lg-11,
.type-3023 .col-lg-12,
.type-3023 .col-lg-2,
.type-3023 .col-lg-3,
.type-3023 .col-lg-4,
.type-3023 .col-lg-5,
.type-3023 .col-lg-6,
.type-3023 .col-lg-7,
.type-3023 .col-lg-8,
.type-3023 .col-lg-9,
.type-3023 .col-md-1,
.type-3023 .col-md-10,
.type-3023 .col-md-11,
.type-3023 .col-md-12,
.type-3023 .col-md-2,
.type-3023 .col-md-3,
.type-3023 .col-md-4,
.type-3023 .col-md-5,
.type-3023 .col-md-6,
.type-3023 .col-md-7,
.type-3023 .col-md-8,
.type-3023 .col-md-9,
.type-3023 .col-sm-1,
.type-3023 .col-sm-10,
.type-3023 .col-sm-11,
.type-3023 .col-sm-12,
.type-3023 .col-sm-2,
.type-3023 .col-sm-3,
.type-3023 .col-sm-4,
.type-3023 .col-sm-5,
.type-3023 .col-sm-6,
.type-3023 .col-sm-7,
.type-3023 .col-sm-8,
.type-3023 .col-sm-9,
.type-3023 .col-xs-1,
.type-3023 .col-xs-10,
.type-3023 .col-xs-11,
.type-3023 .col-xs-12,
.type-3023 .col-xs-2,
.type-3023 .col-xs-3,
.type-3023 .col-xs-4,
.type-3023 .col-xs-5,
.type-3023 .col-xs-6,
.type-3023 .col-xs-7,
.type-3023 .col-xs-8,
.type-3023 .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.type-3023 .categories-area .single-item {
  margin-bottom: 30px;
  position: relative;
  padding-left: 90px;
  background: #fff;
  z-index: 1;
}
.type-3023 .categories-area .single-item .icon-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 100%;
  background: #43c3ea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.type-3023 .categories-area .single-item .icon-holder::before {
  color: #43c3ea;
  content: "\f0da";
  font-family: FontAwesome;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding-right: 0;
  position: absolute;
  right: -6px;
  top: 50%;
  margin-top: -12px;
}
.type-3023 .categories-area .single-item .icon-holder span::before {
  color: #fff;
  display: block;
  font-size: 30px;
  text-align: center;
}
.type-3023 .categories-area .single-item .text-holder {
  padding: 27px 12px 13px 25px;
  height: 160px;
}
.type-3023 .categories-area .single-item .text-holder h5 {
  color: #3d3d3d;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 8px;
  transition: all 500ms ease;
}
.type-3023 .categories-area .single-item .text-holder p {
  margin: 0 0 10px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
.type-3023 .categories-area .single-item:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: #152545;
  content: "";
  z-index: -1;
  transition: all 0.7s ease;
  opacity: 0;
}
.type-3023 .categories-area .single-item:hover:before {
  height: 100%;
  opacity: 1;
}
.type-3023 .categories-area .single-item:hover .text-holder h5 {
  color: #fff;
}
.type-3023 .categories-area .single-item:hover .text-holder p {
  color: #fff;
}
